@page "/"

<style>
    .card-tile {
        margin: 15px;
        max-width: 450px;
    }
    .card-img-col-padding {
        padding: 20px 35px;
    }
</style>

<h1>Welcome</h1>

<div class="row">
    <div class="card card-tile">
        <div class="row align-items-center">
            <div class="col-md-4 card-img-col-padding">
                <img class="card-img-top" src="css/icons8/code-fork.png"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="https://github.com/TheAxelander/OpenBudgeteer" target="_blank"><h5 class="card-title">OpenBudgeteer Repository</h5></a>
                    <p class="card-text">Access source code hosted on Github</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-tile">
        <div class="row align-items-center">
            <div class="col-md-4 card-img-col-padding">
                <img class="card-img-top" src="css/icons8/answers.png"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="https://github.com/TheAxelander/OpenBudgeteer/issues/new" target="_blank"><h5 class="card-title">Create Issue</h5></a>
                    <p class="card-text">Found a bug or missing a feature? Create an issue on Github</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-tile">
        <div class="row align-items-center">
            <div class="col-md-4 card-img-col-padding">
                <img class="card-img-top" src="css/icons8/question-group.png"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="https://github.com/TheAxelander/OpenBudgeteer/blob/master/CHANGELOG.md" target="_blank"><h5 class="card-title">Display Change Log</h5></a>
                    <p class="card-text">See latest updates and changes.</p>
                </div>
            </div>
        </div>
    </div>
</div>