@page "/report"
@using ApexCharts
@using OpenBudgeteer.Blazor.Common


<div class="row">
    <div class="col-md-6 col-sm-12 p-1">
        <div class="report-chart-box">
            <h4 class="report-chart-header">Month Balances</h4>
            <ApexChart @ref="MonthBalanceChart" TItem="ReportRecord">
                <ApexPointSeries 
                    TItem="ReportRecord"
                    Items="_apexContext.MonthBalances"
                    Name="Balance"
                    SeriesType="SeriesType.Bar"
                    XValue="i => i.Label"
                    YValue="i => i.Value"
                    DataPointMutator="ApexHelper.BalanceChartMutator"/>
            </ApexChart>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 p-1">
        <div class="report-chart-box">
            <h4 class="report-chart-header">Bank Balances</h4>
            <ApexChart @ref="BankBalanceChart" TItem="ReportRecord">
                <ApexPointSeries
                    TItem="ReportRecord"
                    Items="_apexContext.BankBalances"
                    Name="Balance"
                    SeriesType="SeriesType.Area"
                    XValue="i => i.Label"
                    YValue="i => i.Value"
                    Color=@System.Drawing.Color.Green.ToHexString()/>
            </ApexChart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 p-1">
        <div class="report-chart-box">
            <h4 class="report-chart-header">Income & Expenses per Month</h4>
            <ApexChart @ref="MonthIncomeExpensesChart" TItem="ReportRecord" Options="MonthIncomeExpensesChartOptions">
                <ApexPointSeries
                    TItem="ReportRecord"
                    Items="_apexContext.MonthIncome"
                    Name="Income"
                    SeriesType="SeriesType.Bar"
                    XValue="i => i.Label"
                    YValue="i => i.Value"
                    Color=@System.Drawing.Color.Green.ToHexString()/>
                <ApexPointSeries
                    TItem="ReportRecord"
                    Items="_apexContext.MonthExpenses"
                    Name="Expenses"
                    SeriesType="SeriesType.Bar"
                    XValue="i => i.Label"
                    YValue="i => i.Value"
                    Color=@System.Drawing.Color.DarkRed.ToHexString()/>
            </ApexChart>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 p-1">
        <div class="report-chart-box">
            <h4 class="report-chart-header">Income & Expenses per Year</h4>
            <ApexChart @ref="YearIncomeExpensesChart" TItem="ReportRecord" Options="YearIncomeExpensesChartOptions">
                <ApexPointSeries
                    TItem="ReportRecord"
                    Items="_apexContext.YearIncome"
                    Name="Income"
                    SeriesType="SeriesType.Bar"
                    XValue="i => i.Label"
                    YValue="i => i.Value"
                    Color=@System.Drawing.Color.Green.ToHexString()/>
                <ApexPointSeries
                    TItem="ReportRecord"
                    Items="_apexContext.YearExpenses"
                    Name="Expenses"
                    SeriesType="SeriesType.Bar"
                    XValue="i => i.Label"
                    YValue="i => i.Value"
                    Color=@System.Drawing.Color.DarkRed.ToHexString()/>
            </ApexChart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 p-1">
        <div class="report-chart-box">
            <h4 class="report-chart-header">Bucket Monthly Expenses</h4>
            @foreach (var chart in _monthBucketExpensesConfigsLeft)
            {
                <ApexChart @ref="InjectMonthBucketExpensesChart" Title="@chart.Item1" TItem="ReportRecord" Height="150">
                    <ApexPointSeries
                        TItem="ReportRecord"
                        Items="chart.Item2"
                        Name="Expenses"
                        SeriesType="SeriesType.Bar"
                        XValue="i => i.Label"
                        YValue="i => i.Value"
                        Color=@System.Drawing.Color.DarkRed.ToHexString()/>
                </ApexChart>
            }
        </div>
    </div>
    <div class="col-md-6 col-sm-12 p-1">
        <div class="report-chart-box">
            <h4 class="report-chart-header">Bucket Monthly Expenses</h4>
            @foreach (var chart in _monthBucketExpensesConfigsRight)
            {
                <ApexChart @ref="InjectMonthBucketExpensesChart" Title="@chart.Item1" TItem="ReportRecord" Height="150">
                    <ApexPointSeries
                        TItem="ReportRecord"
                        Items="chart.Item2"
                        Name="Expenses"
                        SeriesType="SeriesType.Bar"
                        XValue="i => i.Label"
                        YValue="i => i.Value"
                        Color=@System.Drawing.Color.DarkRed.ToHexString()/>
                </ApexChart>
            }
        </div>
    </div>
</div>
