/* App specific styles
-------------------------------------------------- */
button.header-action-button {
    margin-top: 5px;
    margin-right: 5px;
	margin-bottom: 5px;
}
button.collapse-button {
    font-family: "Segoe UI Symbol";
    padding: 0;
    height: 25px;
    width: 25px;
}
button.collapse-button:focus, button.collapse-button:active {
    outline: none;
    box-shadow: none;
}
input.number-input {
    text-align: right;
}
table .header-row td, table .header-row th {
    border-top: none;
	font-size: 1rem;
}
.bucket-table td {
    border-top: none;
    border-bottom: 1px solid;
    border-bottom-color: inherit;
}
.col-numbers {
    text-align: right;
}
.col-bucket-numbers {
    width: 120px;
}
.col-buttons {
    text-align: right;
    white-space: nowrap;
}
.col-bucket-buttons {
    width: 120px;
}
.col-bucket-details {
    width: 250px;
}
.bucketgroup-header-text {
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
}
.report-chart-box {
    width: 900px;
    border-width: thick;
    margin: 5px;
    border-style: solid;
}
.report-chart-header {
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.report-chart-subheader {
    font-weight: bold
}

.bucket-indicator {
    border-radius: 25px;
    margin: 0.3rem 0
}

button.btn-bucket {
    border-radius: 25px; 
    width: 100%
}

/* Overwrite bootstrap styles */
.table td, .table tbody td, .table th, .table thead th {
    vertical-align: middle;
}

.table-sm td, .table-sm th {
    padding: .2rem;
    font-size: .9rem;
}

.modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem - 3.5rem); /* Additional 3.5rem for static footer  */
}

.navbar-brand {
    display: inline-block; /* restore setting from bootstrap 4 */ 
}

.dropdown-item-sm {
    font-size: .875rem; /* Additional class to match font size of DropDownItem with SplitButton (btn-sm)*/
}
