/* App specific styles
-------------------------------------------------- */
.bucket-indicator {
    border-radius: 25px;
    /*margin: 0.3rem 0*/
}

.card-account {
    max-width: 450px;
}

.col-numbers {
    text-align: right;
}

.col-bucket-numbers {
    min-width: 120px;
}

.col-bucket-details {
    min-width: 200px;
}

.dialog-background {
    background-color: var(--mud-palette-background);
}

.no-background {
    background-color: transparent;
}

.no-wrap {
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
}

.report-chart-header {
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

/* required for MudButton in a MudButtonGroup */
.restore-size-small {
    padding: 4px 10px!important; /* original padding for Size="Size.Small" */
}

#components-reconnect-modal {
    display: none;
}

#components-reconnect-modal.components-reconnect-show,
#components-reconnect-modal.components-reconnect-failed,
#components-reconnect-modal.components-reconnect-rejected {
    display: block;
}

/* Style overwrites
-------------------------------------------------- */
.apexcharts-svg {
    background: transparent!important;
}
