CONNECTION_PROVIDER=mariadb
CONNECTION_SERVER=192.168.178.100
CONNECTION_PORT=3306
CONNECTION_DATABASE=openbudgeteer
CONNECTION_USER=openbudgeteer
CONNECTION_PASSWORD=openbudgeteer
CONNECTION_ROOT_PASSWORD=myRootPassword

CONNECTION_REDIS_SERVER=192.168.178.101
CONNECTION_REDIS_PORT=6379
CONNECTION_REDIS_USER=openbudgeteer
CONNECTION_REDIS_PASSWORD=openbudgeteer
CONNECTION_REDIS_PREFIX=myprefix

APPSETTINGS_CULTURE=en-US
APPSETTINGS_AUTH_ENABLED=true
APPSETTINGS_AUTH_USERNAME=admin
APPSETTINGS_AUTH_PASSWORD=changeme
APPSETTINGS_AUTH_SESSION_DAYS=7
