@using OpenBudgeteer.Core.ViewModels.ItemViewModels
@if (IsDialogVisible)
 {
    <div class="modal fade show" style=" display: block;">
    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="close" data-dismiss="modal" @onclick="OnCancelClickCallback">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name:</label>
                    <input class="form-control form-control-sm" type="text" @bind="DataContext.Account.Name" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="OnSaveClickCallback">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="OnCancelClickCallback">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public AccountViewModelItem DataContext { get; set; }

    [Parameter]
    public bool IsDialogVisible { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelClickCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnSaveClickCallback { get; set; }
}