@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<div class="main">
    <div class="content px-4" style="max-width: 1500px; margin: auto; margin-bottom: 100px">
        @Body
    </div>
</div>