<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-door"></i> Home
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="account">
            <i class="bi bi-credit-card"></i> Account
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="transaction">
            <i class="bi bi-arrow-left-right"></i> Transaction
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="bucket">
            <i class="bi bi-bucket"></i> Bucket
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="import">
            <i class="bi bi-upload"></i> Import
        </NavLink>
    </li>
    <li class="nav-item d-xl-none d-xxl-block">
        <NavLink class="nav-link" href="report">
            <i class="bi bi-graph-up"></i> Report
        </NavLink>
    </li>
    <li class="nav-item d-xl-none d-xxl-block">
        <NavLink class="nav-link" href="rules">
            <i class="bi bi-file-ruled"></i> Rules
        </NavLink>
    </li>
    <li class="nav-item d-xl-none d-xxl-block">
        <NavLink class="nav-link" href="dataconsistency">
            <i class="bi bi-database-check"></i> Data Consistency
        </NavLink>
    </li>
                
    <li class="nav-item dropdown d-none d-xl-block d-xxl-none">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <NavLink class="dropdown-item" href="report">
                    <i class="bi bi-graph-up"></i> Report
                </NavLink>
            </li>
            <li>
                <NavLink class="dropdown-item" href="rules">
                    <i class="bi bi-file-ruled"></i> Rules
                </NavLink>
            </li>
            <li>
                <NavLink class="dropdown-item" href="dataconsistency">
                    <div>
                        <i class="bi bi-database-check"></i> Data Consistency
                    </div>
                </NavLink>
            </li>
        </ul>
    </li>
</ul>
