<div class="d-flex flex-column flex-fill navbar-nav">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-door me-1"></i> Home
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="account">
            <i class="bi bi-credit-card me-1"></i> Account
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="transaction">
            <i class="bi bi-arrow-left-right me-1"></i> Transaction
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="bucket">
            <i class="bi bi-bucket me-1"></i> Bucket
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="import">
            <i class="bi bi-upload me-1"></i> Import
        </NavLink>
    </div>
    <li class="nav-item">
        <NavLink class="nav-link" href="report">
            <i class="bi bi-graph-up me-1"></i> Report
        </NavLink>
    </li>
    <div class="nav-item">
        <NavLink class="nav-link" href="rules">
            <i class="bi bi-file-ruled me-1"></i> Rules
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="dataconsistency">
            <i class="bi bi-database-check me-1"></i> Data Consistency
        </NavLink>
    </div>
</div>